<script>
  $(document).ready(function(){
   $("div#userdata").hide();
   $("div#orderdata").hide();
       $("div#image").show();
       $("div#pw").hid();
  });
  function showuserdata(){
    
     $("div#userdata").show();
     $("div#orderdata").hide();
     $("div#image").hide();
     $("div#pw").hide();
  }
  function showorderdata(){
    $("div#userdata").hide();
    $("div#orderdata").show();
    $("div#image").hide();
  }
  function showpw(){
    $("div#pw").show();
  }
   function showlogout(){
  alert("以成功登出!歡迎繼續參觀小農橋!")
  }
</script>

<BR>
  <BR>
<h2 style='text-align:center;'>橋友區</h2>
　<div class="col-xs-12 col-md-4">
　	<BR>
<a href="#userdata" onclick="showuserdata()">橋友資料修改</a> <BR>
<a href="#orderdata" onclick="showorderdata()">訂單資料</a><BR>
<a href="/payers/new" onclick="showteaching()">匯款確認</a><BR>
<%= link_to("登出", destroy_user_session_path, method: :delete) %><BR>	

</div>

<div id="image" class="col-xs-12 col-md-8">
<div><a href="/products/1"><img src="/img/product01_big.png" style="text-align:center; width:100%;" /></a></div>
<div><a href="/products/2"><img src="/img/product02_big.png" style="text-align:center; width:100%;" /></a></div>
<div><a href="/products/3"><img src="/img/product03_big.png" style="text-align:center; width:100%;" /></a></div>
<div><a href="/products/4"><img src="/img/product04_big.png" style="text-align:center; width:100%;" /></a></div>
</div>



<div id="userdata" class="col-xs-12 col-md-8">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
     <%= f.input :username,  label:"姓名"%>
     <%= f.input :u_phone,label:"聯絡電話" %>
     <%= f.input :email, required: true, autofocus: true %>
     <%= f.input :u_homeaddress, label:"送貨地址-宅配" %>
     <%= f.input :u_convenienceaddress, label:"送貨地址-超商" %>
    <%= f.input :current_password, label:"密碼驗證", hint: "輸入目前密碼授權此次更新", required: true %>
    <a href="#pw" onclick="showpw()">編輯密碼</a>
    <div id="pw">
    <%= f.input :password,label:"新密碼", autocomplete: "off", hint: "如果不想更動請留白", required: false %>
    <%= f.input :password_confirmation,label:"請再次確認密碼", required: false %>
    </div>
    <div class="form-actions">
    <%= f.button :submit, "更新" %>
  </div>
<% end %>
  </div>
</div>
  

<div id="orderdata" class="col-xs-12 col-md-8">

       	　<table class="table table-bordered">
	
    <tr 　style="border:">
	  <td>取件者</td>
	  <td>送件地址</td>
	  <td>電話</td>
	  <td>地瓜</td>
	  <td>玉米棒</td>
	  <td>雞蛋捲</td>
	  <td>香水檸檬</td>
	  <td>總價格</td>
	  <td>狀態</td>
	</tr>
	<% @customer.each do |customer| %>
	<tr>
	  <td><%= customer.cusname%></td>
	  <% if customer.homeaddress!="" %>
	  <td><%= customer.homeaddress%></td>
	  <% end %>
	  <% if customer.convenienceaddress!="" %>
	  <td><%= customer.convenienceaddress%></td>
	  <% end %>
	  <% if customer.faceaddress!="" %>
	  <td><%= customer.faceaddress%></td>
	  <% end %>
	  <td><%= customer.cellphone%></td>
	  <td><%= customer.productnumber%></td>
	  <td><%= customer.productnumber1%></td>
	  <td><%= customer.productnumber2%></td>
	  <td><%= customer.productnumber3%></td>
	  <td><%= customer.price%></td>
	  <td><%= customer.status%></td>
	
		<%end%>
		
		</table>
		</div>

