<script>
  $(document).ready(function(){
       $("div#userdata").hide();
       $("div#orderdata").show();
       $("div#image").hide();
       $("div#pw").hide();
       $("div#teaching").hide();
       $('div.user_list_a').click(function(){
           $(this).addClass('user_list_active').siblings().removeClass('user_list_active'); 
        });   
       $(function(){
         var h = $(window).height();
         $('div.user_content').css({
           minHeight: h-180
         });
       });
  });
  function showuserdata(){
    
     $("div#userdata").show();
     $("div#orderdata").hide();
     $("div#image").hide();
     $("div#pw").hide();
     $("div#teaching").hide();
  }
  function showorderdata(){
    $("div#userdata").hide();
    $("div#orderdata").show();
    $("div#image").hide();
   $("div#teaching").hide();
  }
  function showpw(){
    $("div#pw").show();
  }
    function showteaching(){
       $("div#userdata").hide();
   $("div#orderdata").hide();
       $("div#image").hide();
       $("div#pw").hide();
       $("div#teaching").show();
  }
   function showlogout(){
  alert("已成功登出!歡迎繼續參觀小農橋!")
  }

</script>

<body class="main" style="font-family:Microsoft JhengHei;">
  <div style="margin-top:60px"></div>

<div class="col-sm-12 col-md-2 user_list_col" style="margin:5px 10px">
    <div class="user_list user_list_a user_list_active" style="padding-top:10px" onclick="showorderdata()">訂單資料</div>
    <div class="user_list user_list_a" onclick="showteaching()">購買教學</div>
    <div class="user_list user_list_a" onclick="showuserdata()">橋友資料修改</div>
    <a class="user_list" href="/payers/new" target="_blank"><div class="user_list">匯款確認</div></a>
    <div class="user_list" style="padding-bottom:10px"><%= link_to("登出", destroy_user_session_path, method: :delete, class: 'user_list') %></div>	
</div>

<div id="userdata" class="col-sm-12 col-md-9 user_content">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
     <%= f.input :username,  label:"姓名"%>
     <%= f.input :u_phone,label:"聯絡電話" %>
     <%= f.input :email, required: true, autofocus: true %>
     <%= f.input :u_homeaddress, label:"送貨地址-宅配" %>
     <%= f.input :u_convenienceaddress, label:"送貨地址-超商" %>
    <a href="#pw" onclick="showpw()">編輯密碼</a>
    <div id="pw">
    <%= f.input :password,label:"新密碼", autocomplete: "off", hint: "如果不想更動請留白", required: false %>
    <%= f.input :password_confirmation,label:"請再次確認密碼", required: false %>
    </div>
    <div class="form-actions">
    <div style="float:right"><%= f.button :submit, "更新" %></div>
  </div>
<% end %>
  </div>
</div>
  

<div id="orderdata" class="col-sm-12 col-md-9 user_content">

       	　<table class="table table-bordered">
	
    <tr style="font-weight:bold">
	  <td>取件者</td>
	  <td>送件地址</td>
	  <td>電話</td>
	  <td>地瓜</td>
	  <td>玉米棒</td>
	  <td>雞蛋捲</td>
	  <td>香水檸檬</td>
	  <td>總價格</td>
	  <td>狀態</td>
	</tr>
	<% if @customer %>
	<% @customer.each do |customer| %>
	<tr>
	  <td><%= customer.cusname%></td>
	  <% if customer.homeaddress!="" %>
	  <td><%= customer.homeaddress%></td>
	  <% end %>
	  <% if customer.convenienceaddress!="" %>
	  <td><%= customer.convenienceaddress%></td>
	  <% end %>
	  <% if customer.faceaddress!="" %>
	  <td><%= customer.faceaddress%></td>
	  <% end %>
	  <td><%= customer.cellphone%></td>
	  <td><%= customer.productnumber%></td>
	  <td><%= customer.productnumber1%></td>
	  <td><%= customer.productnumber2%></td>
	  <td><%= customer.productnumber3%></td>
	  <td><%= customer.price%></td>
	  <td><%= customer.status%></td>
	
		<%end%>
		<%end%>
		</table>
		</div>
<div id="teaching" class="col-sm-12 col-md-9 user_content">
  <h3 style="text-align:center; font-weight:bold">STEP1</h3>
  <div class="col-md-12 content" style="padding-left:30px; padding-top:20px; margin-bottom:30px; padding-bottom:30px; border-radius:10px">
    
    <h1 style="text-align:center">點擊<a href="/products" target="_blank" style="text-decoration: none">感興趣的故事</a>並點擊「我要支持」</h1>
    
    </div>
    <h3 style="text-align:center; font-weight:bold">STEP2</h3>
      <div class="col-md-12 content" style="padding-left:30px; padding-top:20px; margin-bottom:30px; padding-bottom:30px; border-radius:10px">
    
    <h1 style="text-align:center">填寫<a href="/products/buyprod1" target="_blank" style="text-decoration: none">購買需求以及送貨資料</a></h1>
    
    </div>
    <h3 style="text-align:center; font-weight:bold">STEP3</h3>
      <div class="col-md-12 content" style="padding-left:30px; padding-top:20px; margin-bottom:30px; padding-bottom:30px; border-radius:10px">
    
    <h1 style="text-align:center">匯款並再填寫<a href="/payers/new" target="_blank" style="text-decoration: none">匯款確認</a></h1>
    
    </div>
  
  
</div>
		
		
		
</div>
</body>