  <script>
  $("input#save").hide();
  function edit(){
          CKEDITOR.replace( 'article[introduce]' );
            $("input#save").show();
            
  };
  function get(){
   var value = CKEDITOR.instances['article_introduce'].getData();
            console.log( value);
            CKEDITOR.instances['article_introduce'].destroy();
            $('input#article_introduce').val(value);
  };
  
        </script>

<div style="margin:70px"></div>
<div class="container">
  <%= simple_form_for @article do |f|%>
	<%= f.input :title, label:'標題' %>
	<%= f.input :introduce, label:'介紹' %>
	<input type="button" value="編輯" onclick="edit()" />
	<input type="button" id="save" value="儲存" onclick="get()" />
	<%= f.input :content, label:'網址' %>
	<%= f.input :pic1, label:'圖片位址' %>
	<%= f.input :owner, collection: ['小農橋','外界'] %>
	<%= f.input :seodescription, label:'seo介紹' %>
	<%= f.input :hashtag, label:'Hashtag' %>
	
	<%= f.submit%>
<%end%>
</div>


