<h2>New article</h2>

<%= form_for @article do |f|%>

<table style="width:70%">
	<tr>
		<td>Title</td>
		<td><%= f.text_field :title%></td>
  	</tr>
  	<tr>
    	<td>Introduce</td>
		<td><%= f.text_field :introduce%></td>
  	</tr>
  	<tr>
    	<td>Picture</td>
		<td><%= f.text_field :pic1%></td>
  	</tr>
  	<tr>
    	<td>Content</td>
		<td><%= f.text_field :content%></td>
  	</tr>
</table> 

<%= f.submit%>

<%end%>