<h2>Article</h2>
<table style="width:30%">
	<tr>
		<td>Title</td>
		<td><%= @article.title%></td>
  	</tr>
  	<tr>
    	<td>Pic</td>
		<td><img src='<%= @article.pic1%>'></img></td>
  	</tr>
  	<tr>
    	<td>Content</td>
		<td><%= @article.content%></td>
  	</tr>
  	<tr>
    	<td>Hashtag</td>
		<td><%= @article.hashtag%></td>
  	</tr>
  	<tr>
    	<td>Createtime</td>
		<td><%= @article.created_at%></td>
  	</tr>
  	<tr>
    	<td>Owner</td>
		<td><%= @article.owner%></td>
  	</tr>
  	

</table> 