<head>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    
     <script>
     $(document).ready(function(){
          $("input#search").val(window.sessionStorage["search"]);
          
        if($("span.detectcus").length >= 2&&$("input#search").val()==""){
            $("div.customer").hide();
            
        }
         else{$("div.customer").show();
         window.sessionStorage["search"]="";
         }
         });
         function check(){
             alert("感謝你的購買，歡迎你下次光臨");
         }
         function savekey(){
             window.sessionStorage["search"]=$("input#search").val();
         }
     </script>
</head>

<body class="main" style="font-family:Microsoft JhengHei;">
    <div style="margin-top:60px"></div>
    <div class="col-md-2"></div>
    <div class="col-md-8 content" style=" padding-left:30px; padding-top:20px;">
        <h1>請填入匯款資料：</h1>
        <%= simple_form_for @payer do |f|%>
            <%= f.input :payeraccount,  label:'請輸入帳號後五碼', maxlength:"5" %>
            <%= f.input :paymentprice,  label:'請輸入付款金額（不含手續費）' %>
            <%= f.input :payerphone,  label:'請輸入訂購時留的電話' %>
            <%= f.submit "送出匯款資料", class: "btn btn-primary", onclick:"check()" %>
        <% end %>
        
        <BR>
            
        <%= form_tag new_payer_path, method: :get do %>
            <%= text_field_tag :search, params[:search],value: " ", placeholder: "請輸入電話號碼" %>
            <%= submit_tag "搜尋您的訂單", class:"btn btn-info", onclick:"savekey()" %>
        <% end %>
        <BR>
        <BR>
        <div class="customer">
          <% @customer.each do |c| %>
        	<BR>
            帳號：<span class="detectcus"><%= c.cellphone%></span>
        	<BR>價格：<%= c.price%>
        	<BR>冰心地瓜數量：<%= c.productnumber%>
        	<BR>玉米好棒棒數量：<%= c.productnumber1%>
        	<BR>樂樂雞蛋捲數量：<%= c.productnumber2%>
        	<BR>阿公香水檸檬數量：<%= c.productnumber3%>
        	<BR>-------我是分隔線----------
          <% end %> 
        </div >
    </div>
</body>