<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
        <script>
//　 　　　 function resize(){
//　 　　　　 parent.document.getElementById("mainframe").height="500px";
//　　　　  }
　　    </script>
　　    <style>
          .computer{
            display:block;
          }
          .mobile{
            display:none;
          }          
          @media screen and (max-width: 430px){
            .computer{
              display:none;
            }
            .mobile{
              display:block;
            }
            td.article_info{
              display:none;
            }
          }
　　    </style>
    </head>

    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>        
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.productBig').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    dots: true,
                    arrows: false
                });
            });
        </script>
        
        <div class="productBig" style="margin-top:30px; width:100%; margin-bottom:30px;">
            <div><a href="/products/1"><img src="/img/product01_big.png" style="text-align:center; width:100%;" /></a></div>
            <div><a href="/products/2"><img src="/img/product02_big.png" style="text-align:center; width:100%;" /></a></div>
            <div><a href="/products/3"><img src="/img/product03_big.png" style="text-align:center; width:100%;" /></a></div>
            <div><a href="/products/4"><img src="/img/product04_big.png" style="text-align:center; width:100%;" /></a></div>
        </div>
        
        <div class="introduction" style="text-align:center; padding-top:10px; padding-bottom:30px">
          <h3 style=""><b>讓好的農創故事被市場看見</b></h3>
          <h4 style="color:#777777; margin:15px">我們希望運用科技的力量</h4>
          <h4 style="color:#777777; margin:15px">為社會帶來不一樣的期盼</h4>
          <h4 style="color:#777777; margin:15px">搭造一個小農與消費者之間的橋樑</h4>
          <a class="intro_btn" href="/products"><div class="intro_btn" style="font-size:25px">來去瞧瞧</div></a>
        </div>

        <div style="background-color:rgba(247, 247, 29, 0.3);">
          <div class="container">
          <div class="row" style="padding-top:20px;">
            <div style="text-align:center"><h2 style="margin-bottom:20px"><b>小農橋相關資訊</b></h2></div>
            <div class="col-xs-12 col-md-8" style="margin-bottom:20px">
             <div class="embed-responsive embed-responsive-16by9" style="border:3px solid white">
                <iframe id="mainframe" class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLaQAjDQdTLhZLd9hwm2FPermPVx0dK4mF" frameborder="0" allowfullscreen></iframe>
             </div>
            </div>
            <div class="col-md-4 computer">
              <!-- Columns are always 50% wide, on mobile and desktop -->
              <div class="fb-page" style="border:3px solid white" id="fb-page" data-height="422" data-href="https://www.facebook.com/farmbridger/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/farmbridger/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/farmbridger/">小農橋</a></blockquote></div>
            </div>
            <div class="col-xs-12 mobile">
              <!-- Columns are always 50% wide, on mobile and desktop -->
              <div class="fb-page" style="border:3px solid white" id="fb-page" data-href="https://www.facebook.com/farmbridger/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/farmbridger/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/farmbridger/">小農橋</a></blockquote></div>
            </div>          
          </div> 
          <div style="height:50px"></div>
          </div>
        </div>

        <div class="container">
          <div style="font-family:Microsoft JhengHei">
            <h2 style="text-align:center"><b>近期文章列表</b></h2>
            <hr style="height: 5px; border: 0;	box-shadow: 0 8px 8px -10px #008500 inset;">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped table-hover">
                  <% @article.each do |article| %>
                    <tr>
                      <td>
                  			<a href="<%= article.content %>" target="_blank" style="color:black">
                  				<%= article.title %>
                  			</a>
                			</td>
                			<td class="article_info" style="float:right; font-size:15px; border-top:0px;">
                			  <button class="btn btn-success hashtag"><%= article.owner %></button>
                				<button class="btn btn-info hashtag" style="height:20px">
                					<%= article.hashtag%>	
                				</button>
                				|
                				<i class="material-icons">adjust</i><%= article.created_at.strftime('%Y年%m月%d日')%>
                      </td>
                    </tr>
                  <% end %>
                </table>
                <button class="btn btn-success" style="float:right;" onclick="location.href='/articles'">看看更多文章</button>
              </div>
            </div>
            <hr style="height: 5px; border: 0;	box-shadow: 0 8px 8px -10px #008500 inset;">
          </div>
          </div>


    </body>
</html>