<h1>顧客人生</h1>
	<BR>
	    <BR>
	        <BR>
	<% @customer.each do |customer| %>
	<BR>
	cu:<%= customer.cusname%><BR>
	homeaddress:<%= customer.homeaddress%><BR>
	convenienceaddress:<%= customer.convenienceaddress%><BR>
	faceaddress:<%= customer.faceaddress%><BR>
	cellphone:<%= customer.cellphone%><BR>
	email:<%= customer.email%><BR>
	P1:<%= customer.productnumber%><BR>
	P2:<%= customer.productnumber1%><BR>
	P3:<%= customer.productnumber2%><BR>
	P4:<%= customer.productnumber3%>
		<%end%>