<div style="margin:70px"></div>

<%= simple_form_for @product do |f|%>
	<%= f.input :proname, label:'名稱' %>
	<%= f.input :price, label:'價格' %>
	<%= f.input :qty, label:'數量' %>
	<%= f.input :pic1, label:'圖片位址' %>
	<%= f.input :introduce, label:'介紹' %>
	<%= f.input :supid, label:'商家id' %>
	
	<%= f.submit%>
<%end%>