<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
        
        <script>
        $(document).ready(function(){
            $("input.cusname").val(window.sessionStorage["cusname"]);
            $("input.email").val(window.sessionStorage["email"]);
            $("input.cellphone").val(window.sessionStorage["cellphone"]);
            $("input.address").val(window.sessionStorage["address"]);
            $("input.quantity").val(window.sessionStorage["quantity"]);
            $("input.quantity1").val(window.sessionStorage["quantity1"]);
            $("input.quantity2").val(window.sessionStorage["quantity2"]);
            $("input.quantity3").val(window.sessionStorage["quantity3"]);
        });
        function savedata(){
        window.sessionStorage["cusname"]=$("input.cusname").val();
        window.sessionStorage["email"]=$("input.email").val();
        window.sessionStorage["cellphone"]=$("input.cellphone").val();
        window.sessionStorage["address"]=$("input.address").val();
        window.sessionStorage["quantity"]=$("input.quantity").val();
        window.sessionStorage["quantity1"]=$("input.quantity1").val();
        window.sessionStorage["quantity2"]=$("input.quantity2").val();
        window.sessionStorage["quantity3"]=$("input.quantity3").val();
        alert("已成功儲存資料囉！\n請注意，如果關閉瀏覽器資料便會自動清除唷！")
        
        }
    
        
　 　　	function count(){
　 　　		var quantity=$("input.quantity").val();
　 　　		var quantity1=$("input.quantity1").val();
　 　　		var quantity2=$("input.quantity2").val();
　 　　		var quantity3=$("input.quantity3").val();
　 　　		if(quantity<0){
　 　　		 quantity=0;	
　 　　		 $("input.quantity").val(0);
　 　　		}
　 　　			if(quantity1<0){
　 　　				quantity1=0;	
　 　　	　		 $("input.quantity1").val(0);
　 　　		}
　 　　			if(quantity2<0){
　 　　				quantity2=0;	
　 　　　		 $("input.quantity2").val(0);
　 　　		}
　 　　			if(quantity3<0){
　 　　				quantity3=0;	
　 　　	　		 $("input.quantity3").val(0);
　 　　		}
　 　　		var price=40*quantity;
　 　　		var price1=50*quantity1;
　 　　		var price2=60*quantity2;
　 　　		var price3=80*quantity3;
　 　　		var totalprice=price+price1+price2+price3
　 　　		$("span.price").text(totalprice);
　 　　	}
　　    </script>
    </head>

<body style="font-family:Microsoft JhengHei">

<div style="margin:70px"></div>

<div style="margin-bottom:20px">
    <h1 style="color:#008000"><b>顧客資料</b></h1>
    <%= simple_form_for @customer do |f|%>
        <%= f.input :cusname, class: 'cusname', label:'名稱', placeholder:'請輸入姓名' %>
        <%= f.input :email, class: 'email', label:'電子信箱', placeholder:'example@mail.com' %>
        <%= f.input :cellphone, class: 'cellphone', label:'連絡電話', placeholder:'09xxxxxxxx' %>
        <%= f.input :address, class: 'address', label:'送貨地址', placeholder:'宅配地址或是門市編號（如：全家0000）', hint:'點擊右方按鈕可查詢門市編號', size:'32' %>
        <a class="btn btn-info" style="float:right; margin:-30px 5px 0 5px" onclick="window.open('http://www.family.com.tw/Marketing/inquiry.aspx')">全家</a>
        <a class="btn btn-info" style="float:right; margin:-30px 5px 0 5px" onclick="window.open('http://www.hilife.com.tw/storeInquiry_street.aspx')">萊爾富</a>
        <a class="btn btn-info" style="float:right; margin:-30px 5px 0 5px" onclick="window.open('http://www.okmart.com.tw/convenient_shopSearch')">OK</a>
    <% end %>    
</div>

<div>
    <h1 style="color:#008000"><b>故事資料</b></h1>
    <%= simple_form_for @customer do |f|%>
        <%= f.input :productnumber, label:'冰心地瓜', :input_html => {class:'quantity', :onchange =>"count()" , :onkeyup =>"this.onchange()", :onpaste =>"this.onchange()", :oninput =>"this.onchange()"} %>
        <%= f.input :productnumber1, label:'台灣玉米好棒棒', :input_html => {class:'quantity1', :onchange =>"count()" , :onkeyup =>"this.onchange()", :onpaste =>"this.onchange()", :oninput =>"this.onchange()"} %>
        <%= f.input :productnumber2, label:'樂樂雞蛋捲', :input_html => {class:'quantity2', :onchange =>"count()" , :onkeyup =>"this.onchange()", :onpaste =>"this.onchange()", :oninput =>"this.onchange()"} %>
        <%= f.input :productnumber3, label:'阿公的香水檸檬', :input_html => {class:'quantity3', :onchange =>"count()" , :onkeyup =>"this.onchange()", :onpaste =>"this.onchange()", :oninput =>"this.onchange()"} %>
        <div style="font-size:20px">
            <b>總價格<span class="price" style="font-size:40px; color:red; margin:0 5px 0 10px">0</span>元</b>
          	<span style="float:right; margin-top:10px">
               	<button class="btn btn-success" style="margin-right:5px" onclick="savedata()">儲存</button>
                <%= f.submit "投資夢想", class: "btn btn-primary"%>
          	</span>        
      	</div>
      	<div style="height:100px"></div>
    <%end%>
</div>
</body>
</html>