<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
        
        <script>
            
        $(document).ready(function(){
            $("input#customer_cusname").val(window.sessionStorage["cusname"]);
            $("input#customer_email").val(window.sessionStorage["email"]);
            $("input#customer_cellphone").val(window.sessionStorage["cellphone"]);
            $("input#customer_homeaddress").val(window.sessionStorage["homeaddress"]);
            $("input#customer_convenienceaddress").val(window.sessionStorage["convenienceaddress"]);
            $("input#customer_faceaddress").val(window.sessionStorage["faceaddress"]);
            $("input#customer_productnumber").val(window.sessionStorage["quantity"]);
            $("input#customer_productnumber1").val(window.sessionStorage["quantity1"]);
            $("input#customer_productnumber2").val(window.sessionStorage["quantity2"]);
            $("input#customer_productnumber").val(window.sessionStorage["quantity3"]);
            $("span.price").text(window.sessionStorage["totalprice"]);
            $("div.homeaddress").hide();
            $("div.convenienceaddress").hide();
            $("div.faceaddress").hide();
            $("div.hideprice").hide();
        });
        
        function tran(){
         if($("input:checked").val()==="home"){
             $("input#customer_homeaddress").attr("placeholder", "宅配地址");
             $("div.homeaddress").show();
             $("div.convenienceaddress").hide();
             $("div.faceaddress").hide();
             $("div#sweet-potato").show();
             $("input#customer_faceaddress").val("");
             $("input#customer_convenienceaddress").val("");
         }
         else if($("input:checked").val()==="convenience"){
             $("input#customer_convenienceaddress").attr("placeholder", "門市編號");
             $("div.homeaddress").hide();
             $("div.convenienceaddress").show();
             $("div.faceaddress").hide();
             $("div#sweet-potato").hide();
             $("input#customer_productnumber").val(0);
             $("input#customer_faceaddress").val("");
             $("input#customer_homeaddress").val("");
         }
         else {
             $("input#customer_faceaddress").attr("placeholder", "面交地點(限政治大學,10:00-20:00)");
             $("div.homeaddress").hide();
             $("div.convenienceaddress").hide();
             $("div.faceaddress").show();
             $("div#sweet-potato").show();
             $("input#customer_homeaddress").val("");
             $("input#customer_convenienceaddress").val("");
         }
         count();
         };
        function savedata(){
        window.sessionStorage["cusname"]=$("input#customer_cusname").val();
        window.sessionStorage["email"]=$("input#customer_email").val();
        window.sessionStorage["cellphone"]=$("input#customer_cellphone").val();
        window.sessionStorage["homeaddress"]=$("input#customer_homeaddress").val();
        window.sessionStorage["convenienceaddress"]=$("input#customer_convenienceaddress").val();
        window.sessionStorage["faceaddress"]=$("input#customer_faceaddress").val();
        window.sessionStorage["quantity"]=$("input#customer_productnumber").val();
        window.sessionStorage["quantity1"]=$("input#customer_productnumber1").val();
        window.sessionStorage["quantity2"]=$("input#customer_productnumber2").val();
        window.sessionStorage["quantity3"]=$("input#customer_productnumber3").val();
        window.sessionStorage["totalprice"]=$("span.price").text();
        alert("已成功儲存資料囉！\n請注意，如果關閉瀏覽器資料便會自動清除唷！")
        
        }
    
        
　 　　	function count(){
　 　　	    
　 　　	    $("span.SP-tran-price").text("150");
　 　　	    $("span.tran-price").text("60");
　 　　	  
　 　　		var quantity=$("input.quantity").val();
　 　　		var quantity1=$("input.quantity1").val();
　 　　		var quantity2=$("input.quantity2").val();
　 　　		var quantity3=$("input.quantity3").val();
　 　　		if(quantity<0){
　 　　		 quantity=0;	
　 　　		 $("input.quantity").val(0);
　 　　		}
　 　　		if(quantity1<0){
　 　　				quantity1=0;	
　 　　	　		 $("input.quantity1").val(0);
　 　　		}
　 　　		if(quantity2<0){
　 　　				quantity2=0;	
　 　　　		 $("input.quantity2").val(0);
　 　　		}
　 　　		if(quantity3<0){
　 　　				quantity3=0;	
　 　　	　		 $("input.quantity3").val(0);
　 　　		}
            var SPprice=0;
            var Normalprice=0;
　 　　		if(quantity>0){
　 　　		    SPprice=50*quantity+150;
　 　　		}
　 　　		if(quantity>19||$("input:checked").val()==="face"){
　 　　		    SPprice-=150
　 　　		    $("span.SP-tran-price").text("0");
　 　　		}
　 　　	
　 　　		if(quantity1>0||quantity2>0||quantity3>0){
　 　　		   
　 　　		    Normalprice=120*quantity1+150*quantity2+158*quantity3+60;
　 　　		}
　 　　		if(Normalprice-60>=500||$("input:checked").val()==="face"){
　 　　		    Normalprice-=60
　 　　		    $("span.tran-price").text("0");
　 　　		}
　 　　		
　 　　		
　 　　		
　 　　		if(totalprice<0){
　 　　		 totalprice=0;	
　 　　		 $("span.price").val(0);
　 　　		}
　 　　		if(SPprice<0){
　 　　		 SPprice=0;	
　 　　		 $("span.SP-totalprice").val(0);
　 　　		}
　 　　		if(Normalprice<0){
　 　　		 Normalprice=0;	
　 　　		 $("span.totalprice").val(0);
　 　　		}
　 　　		var totalprice=SPprice+Normalprice;
　 　　		$("span.SP-totalprice").text(SPprice);
　 　　		$("span.totalprice").text(Normalprice);
　 　　		$("span.price").text(totalprice);
　 　　		$("input#customer_cusid").val(totalprice);
　 　　	}
　 　　	
　　    </script>
    </head>

<body style="font-family:Microsoft JhengHei">

<div style="margin:70px"></div>

<div style="margin-bottom:20px">
    <h1 style="color:#008000"><b>顧客資料</b></h1>
    <%= simple_form_for @customer do |f|%>
        <%= f.input :cusname, class: 'cusname', label:'名稱', placeholder:'請輸入姓名' %>
        <%= f.input :email, class: 'email', label:'電子信箱', placeholder:'example@mail.com' %>
        <%= f.input :cellphone, class: 'cellphone', label:'連絡電話',maxlength:"10", placeholder:'09xxxxxxxx' %>
        
        <input type="radio" name="trans" class="tran" value="home" onclick="tran()">宅配
        <input type="radio" name="trans" class="tran" value="convenience" onclick="tran()">超商
        <input type="radio" name="trans" class="tran" value="face" onclick="tran()">面交
    <div class="homeaddress"><%= f.input :homeaddress, label:'宅配資訊', placeholder:'宅配地址', size:'32' %></div>
    <div class="convenienceaddress"><%= f.input :convenienceaddress, label:'便利商店配資訊', placeholder:'門市編號', hint:'點擊右方按鈕可查詢門市編號', size:'32' %>
    <a class="btn btn-info" style="float:right; margin:-30px 5px 0 5px" onclick="window.open('http://emap.pcsc.com.tw/emap.aspx')">711</a></div>
    <div class="faceaddress"><%= f.input :faceaddress, label:'面交資訊', placeholder:'面交地點(限政治大學,10:00-20:00)', size:'32' %></div>
        
      
</div>

<div>
    <h1 style="color:#008000"><b>故事需求</b></h1>
   
    <div id="sweet-potato">
        <%= link_to "冰心地瓜", "1",  rel: "nofollow" %>
        <%= f.input :productnumber, label:'50元/包', :input_html => {class:'quantity', :onchange =>"count()" , :onkeyup =>"this.onchange()", :onpaste =>"this.onchange()", :oninput =>"this.onchange()"} %>
       <div style="font-size:20px">
            <b>+低溫運費<span class="SP-tran-price" style=" margin:0 5px 0 10px; margin-top:10px">150</span>元</b>
            <BR><b>=地瓜總價格<span class="SP-totalprice" style="margin:0 5px 0 10px; margin-top:10px">0</span>元</b>
       </div>
       </div>
        <%= link_to "玉米好棒棒", "2", rel: "nofollow" %>
        <%= f.input :productnumber1, label:'120元/包', :input_html => {class:'quantity1', :onchange =>"count()" , :onkeyup =>"this.onchange()", :onpaste =>"this.onchange()", :oninput =>"this.onchange()"} %>
        <%= link_to "樂樂雞蛋捲", "3", rel: "nofollow" %>
        <%= f.input :productnumber2, label:'150元/盒', :input_html => {class:'quantity2', :onchange =>"count()" , :onkeyup =>"this.onchange()", :onpaste =>"this.onchange()", :oninput =>"this.onchange()"} %>
         <%= link_to "阿公的香水檸檬", "4", rel: "nofollow" %>
        <%= f.input :productnumber3, label:'150元/包', :input_html => {class:'quantity3', :onchange =>"count()" , :onkeyup =>"this.onchange()", :onpaste =>"this.onchange()", :oninput =>"this.onchange()"} %>
        <div style="font-size:20px">
            <b>+常溫運費<span class="tran-price" style=" margin:0 5px 0 10px; margin-top:10px">60</span>元</b>
            <BR><b>=常溫品總價格<span class="totalprice" style=" margin:0 5px 0 10px; margin-top:10px">0</span>元</b>
       </div>
       <div class="hideprice">
           <%= f.input :cusid, label:'   ' %>
       </div>
        <div style="font-size:20px">
            <BR><b>總價格<span class="price" style="font-size:40px; color:red; margin:0 5px 0 10px">0</span>元</b>
          	<span style="float:right; margin-top:10px">
               	<a href="#" onclick="savedata()">點我儲存資料 </a>
                <%= f.submit "投資夢想", class: "btn btn-primary", :input_html => {:onclick => "check()"}%>
          	</span>        
      	</div>
      	<div style="height:100px"></div>
    <%end%>
</div>
</body>
</html>