<html>
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<style>
		@media screen and (max-width: 430px){
			.product-anchor{
				display:none;
			}	
		}
	</style>
	<script>
	$(document).ready(function(){
		$(function(){
			<% @product.each_with_index do |product, i| %>
			    $("div.scroll-to-product<%= i %>").click(function(){
					$('html, body').animate({
						scrollTop: $('#product<%= i %>').offset().top
					}, 800 );
			    });			
			<%end%>		
		});
		
	   	$(document).scroll(function(){
			var target = $(window).scrollTop();
			clearTimeout( $.data( this, "scrollCheck" ) );
			$.data( this, "scrollCheck", setTimeout(function() {
				<% @product.each_with_index do |product, i| %>
					var productTop = $('#product<%= i %>').offset().top;
					if(productTop-290 <= target && target <= productTop+410){
		    			$(".product-anchor").removeClass("block-active");
		    			$(".scroll-to-product<%= i %>").addClass("block-active");
					}
				<%end%>				
			}, 100) );				
    	});
	});
	</script>
</head>
<body>
	<div style="height:50px"></div>
	
	<div class="container">
		<div class="col-md-12">
			<% @product.each_with_index do |product, i| %>
				<div id="product<%= i %>" style="display:table; margin-top:10px; width:100%;">
			   		<a href="<%= product_path(product) %>">
						<div style="overflow:hidden;">
							<img class="product_pic" style=" width:100%;" src="<%= product.pic1%>" >
						</div>
					</a>
				</div>
			<%end%>		
		</div>
		<div class="anchor-outerbox">
			<div class="anchor-innerbox">
				<% @product.each_with_index do |product, i| %>
					<div class="product-anchor scroll-to-product<%= i %>"></div>
				<%end%>	
			</div>
		</div>	
	</div>
	
</body>
</html>