<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$(function(){
			<% @product.each_with_index do |product, i| %>
			    $("div.scroll-to-product<%= i %>").click(function(){
					$('html, body').animate({
						scrollTop: $('#product<%= i %>').offset().top
					}, 800 );
			    });			
			<%end%>		
		});
		
	   	$(document).scroll(function(){
			var target = $(window).scrollTop();
			clearTimeout( $.data( this, "scrollCheck" ) );
			$.data( this, "scrollCheck", setTimeout(function() {
				<% @product.each_with_index do |product, i| %>
					var productTop = $('#product<%= i %>').offset().top;
					if(productTop-200 <= target && target <= productTop+500){
		    			$(".product-anchor").removeClass("block-active");
		    			$(".scroll-to-product<%= i %>").addClass("block-active");
					}
				<%end%>				
			}, 100) );				
    	});
	});
	</script>
</head>
<body>
	<div>
		<% @product.each_with_index do |product, i| %>
			<div id="product<%= i %>" style="display:table; margin-top:30px; 100%; border:2px solid; width:1100px; height:700px;">
		   		<a href="<%= product_path(product) %>">
					<div class="article_pic" style="overflow:hidden;">
						<img style=" width:100%; margin-top:-100px;" src="<%= product.pic1%>" >
					</div>
				</a>
			</div>
		<%end%>		
	</div>
	<div class="anchor-outerbox">
		<div class="anchor-innerbox">
			<% @product.each_with_index do |product, i| %>
				<div class="product-anchor scroll-to-product<%= i %>"></div>
			<%end%>	
		</div>
	</div>	
</div>
</body>
</html>