<h2>New product</h2>

<%= form_for @product do |f|%>

<table style="width:70%">
	<tr>
		<td>Name</td>
		<td><%= f.text_field :proname%></td>
  	</tr>
  	<tr>
    	<td>Price</td>
		<td><%= f.number_field :price%></td>
  	</tr>
  	<tr>
    	<td>Quantity</td>
		<td><%= f.number_field :qty%></td>
  	</tr>
  	<tr>
    	<td>Picture</td>
		<td><%= f.text_field :pic1%></td>
  	</tr>
  	<tr>
    	<td>Introduce</td>
		<td><%= f.text_field :introduce%></td>
  	</tr>
  	<tr>
    	<td>SupplierID</td>
		<td><%= f.text_field :supid%></td>
  	</tr>
</table> 

<%= f.submit%>

<%end%>