<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13061916_1214384058574819_994569036004815320_n.jpg?oh=480c9a75a50938441bdf48064193da8b&oe=57A4C825" height="35"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "瞧好物", products_path %></li>
        <li><%= link_to "瞧好農", suppliers_path %></li>
        <li><%= link_to "橋友手冊", articles_path %></li>
        <li><%= link_to "小農橋的那些事X", products_path %></li>
        <li><%= link_to "結帳囉", new_cart_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to "登出", destroy_user_session_path,method:'delete' %></li>
        <% else %>
        <li><%= link_to "橋友由此進", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>